.sizeButtons {
    height: 10%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.sizeButton {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #FFFFFF;
}

.sizeButton:hover {
    border: 1px solid black;
}

.sizeButton.selected {
    border: 2px solid black;
    background-color: #FFFFFF;
    color: white;
}

.container {
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.sizeButton:hover {}