@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

.sizeButtons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 30px;
   width: 320px;
   gap: 10px;
   margin-top: 4px;
}

.sizeButton {
   width: 20%;
   height: 100%;
   align-items: center;
   justify-content: center;
   border: 1px solid rgb(0, 0, 0);
   border-radius: 50px;
   cursor: pointer;
   background-color: #fff;
   color: #000000;
   font-family: 'Inconsolata', monospace;
   font-weight: 500;
   font-size: 20px;
}

.sizeButton:hover {
   color: white;
   background-color: black;
}

.selectedSize {
   color: #162944;
   border: 2px solid #162944;
   background-color: black;
   color: white;
}
