.mainTitle {
   display: flex;
   justify-content: center;
   text-align: center;
   font-size: 3rem;
   margin-top: 1rem;
}

.heart {
   margin: 0.3rem 0.5rem 0 0.5rem;
}

.contactContainer {
   display: flex;
   margin: 20px;
}

.leftside {
   width: 50%;
   padding-left: 20px;
}

.address {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.locationIcon {
   font-size: 1.5rem;
   margin-right: 10px;
}

.socialContainer {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.rightside {
   width: 50%;
   margin-left: 10rem;
}

.inputCommon {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.inputCommon:focus::placeholder {
   color: transparent;
}

.message {
   height: 150px;
   resize: none;
}

.submit {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   background-color: #56ade7;
   color: #fff;
   border: 1px solid #4a9bd1;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
   /* margin:0.5rem; */
}
.submit:active {
   background-color: #4281a4;
}

.socialMediaIcon {
   font-size: 5rem;
   margin: 1rem;
}

.socialMediaIcon:hover {
   cursor: pointer;
}
