.mainTitle {
   display: flex;
   justify-content: center;
   width: 100%;
   font-size: 3rem;
   margin-top: 2rem;
}

.heart {
   margin: 0.3rem 0.5rem 0rem 0.5rem;
}

.contactContainer {
   display: flex;
   justify-content: center;
   margin: 20px;
}

.contact {
   display: flex;
   width: 100%;
   margin: 1rem;
   justify-content: center;
}

.rightside {
   width: 50%;
}

.inputCommon {
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.inputCommon:focus::placeholder {
   color: transparent;
}

.message {
   height: 250px;
   resize: none;
}

.submit {
   width: 100%;
   padding: 10px;
   background-color: #56d4e7;
   color: #ffffff; /* Change text color to white */
   border: none;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 5px 5px 5px 0px #000000; /* Keep box shadow black */
   font-size: 25px;
   transition: box-shadow 0.5s;
}

.submit:hover {
   box-shadow: 5px 5px 5px 4px #000000; /* Keep box shadow black */
}

.submit:active {
   background-color: #33d8ea;
}

.socialMediaIcon {
   font-size: 5rem;
   margin: 1rem;
}

.socialMediaIcon:hover {
   cursor: pointer;
}
