.pageContainer {
   display: grid;
   height: 80vh;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   padding: 50px 75px 150px 75px;
   gap: 35px;
   align-items: center;
   overflow: auto;
}
