.pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 175px 50px 175px;
    overflow: auto;

}

.leftside {
    height: 50%;
    width: 50%;

}

.rightside {
    height: 100%;
    width: 50%;

}

.contactContainer {
    display: flex;
    margin-left: 100px;
}

.inputCommon:focus::placeholder {
    color: transparent;
    transition: linear 0.5s;
    font-family: 'Poppins', sans-serif;
}

.text {
    font-family: 'Poppins', sans-serif;

}

.socialContainer {
    display: flex;
    margin: 20px;
    gap: 20px;
    margin-left: 100px;
}

.inputText {
    height: 20px;
    width: 350px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


.inputCommon::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.messageText {
    height: 100px;
    width: 350px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* .header {
    margin-bottom: 5px;
}

form {
    background-color: black;
} */