.addtocartContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.addtocart {
   background-color: rgb(50, 180, 228);
   border-radius: 18px;
   font-size: 1.5rem;
   margin-top: 1rem;
   padding-bottom: 3px;
   height: 2.5rem;
   width: 50%;
   border: none;
   color: #ffffff;
   cursor: pointer;
}

.addtocart:active {
   background-color: rgb(50, 107, 145);
}
