.addtocart {
   background-color: #4189f5;
   padding: 10px 20px;
   border-radius: 5px;
   border-radius: 10px;
   color: #ffffff;
   cursor: pointer;
   margin-bottom: 1rem;
}

.addtocart:active {
   background-color: rgb(50, 107, 145);
}
