.addtocart {
   height: 5rem;
   width: 5rem;
   background-color: rgb(86, 192, 231);
   border-radius: 10px;
   font-size: 1rem;
   border: none;
   color: #ffffff;
   cursor: pointer;
   margin: 1rem;
   padding: 2px;
}

.addtocart:active {
   background-color: rgb(50, 107, 145);
}
