.cardContainer {
   display: flex;
   height:100%;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 18px;
   background-color: white;
   border: 4px solid black;
   box-shadow: 5px 5px;
   transition: box-shadow 0.5s ease;
   margin: 0px;
   padding: 0px;
}

.cardContainer:hover {
   box-shadow: 10px 10px;
}

.img {
   align-self: center;
   width: 150px;
   height: 150px;
   margin-top: 1rem;
}

.listingContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1rem;
   padding-right:5px;
}

.price {
   font-size: 1.5rem;
   color: #3498db;
   font-weight: bold;
   padding-top: 5px;
}
