.cardContainer {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border: 2px solid #c1c1c1;
   justify-content: space-between;
   border-radius: 40px;

}

.titles {
   font-family: 'Poppins', sans-serif;
   margin: 0.5rem;
   font-size: 0.8rem;
   font-weight: bolder;
   color: black;
}

.img {
   width: 150px;
   height: 150px;
   align-items: center;
   margin: 10px;
}

.price {
   font-family: 'Poppins', Courier, monospace;
   font-size: 1.2rem;
   color: #3498db; /* Green color, you can change it to your preference */
   font-weight: bold;
   padding-top: 5px; /* Add some padding on top for spacing */
}

