.navbar {
    list-style-type: none;
    color: white;
    background: #B0A695;
    max-width: 20%;
    padding: 5px;
    height: 100vh;
}



.text{
    font-size: 1.8rem;
    padding: 0rem 0rem 0rem 1rem;
    /* margin-bottom: 1rem; */
    text-decoration: none;
    font-family: 'Playpen Sans' ;
}

.navbar a{
    color: white;
    text-decoration: none;
    border-radius: 20%;
}
li:hover{
    background-color: #776B5D;
    border-radius: 10%;

}

li:active{
    background-color: #4C443B;
    box-shadow: 2px 2px 1px #4C443B
}


.listItem{
    padding: 1rem;
    display: flex;
    gap: 5rem;
    list-style-type: none
}
.sidebarContent{
    display:flex;
    
}

.icon{
    font-size: 2rem;
    padding-top: 0.5rem;
}