.navbar {
  background: linear-gradient(to right, #ffffff, #f0f0f0);
  max-width: 25%;
  padding: 0.2rem;
  height: 100vh;
}

.text {
  font-size: 1.5rem;
  padding: 0.5rem 0rem 0rem 0.9rem;
  font-family: 'Poppins', sans-serif;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.listItem {
  margin: 0.5rem;
  padding: 0.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 4px solid #353535;
}

.listItem:hover {
  background-color: rgba(51, 51, 51, 0.478);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listItem:active {
  background-color: rgba(7, 7, 7, 0.478);
  box-shadow: 1px 1px 1px #1c1c1c9e;
}

.sidebarContent {
  display: flex;
}

.icon {
  font-size: 1.5rem;
  padding-top: 0.8rem;
}
