.navbar {
   width: 10vh;
   flex: 0 0 10%;
   padding-top: 35px;
}

.listItem {
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 0.7rem;
   border-radius: 50px;
   border: 1px solid black;
   background-color: white;
}

.listItem:hover {
   background-color: rgba(109, 107, 107, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebarContent {
   font-family: 'Climate Crisis', sans-serif;
   color: #01001e;
   font-size: 18px;
   letter-spacing: 0.6px;
   text-align: center;  
}
