.navbar {
   width: 10vh;
   flex: 0 0 10%;
   padding-top: 35px;
}

.listItem {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0.7rem;
   border-radius: 50px;
   border: 1px solid black;
}


.sidebarContent:hover,
.listItem:hover {
   background-color: rgba(0, 0, 0);
   color:white;
}

.sidebarContent {
   font-family: 'Climate Crisis', sans-serif;
   height:100%;
   width:100%;
   color: #000000;
   border-radius: 50px;
   background-color: white;
   font-size: 18px;
   letter-spacing: 0.6px;
   text-align: center;
}
