.navbar {
   position: absolute;
   /* height: 100vh; */
   flex: 0 0 10%;
   margin-top: 10vh;
}

.listItem {
   margin: 0.5rem;
   padding: 0.2rem;
   border-radius: 5px;
   color: black;
}

.listItem:hover {
   background-color: rgba(109, 107, 107, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listItem:active {
   background-color: rgba(7, 7, 7, 0.5);
   box-shadow: 1px 1px 1px #1c1c1c9e;
   color: black;
}

.sidebarContent {
   display: flex;
   align-items: center;
   gap: 1rem;
   color: #01001e;
   margin-left: 0.5rem;
   font-size: 1.6rem;
}
