.facebook{
    margin-left:25px;
    font-size: 50px;

}

.instagram{
    margin-top: 7px;
    margin-left:25px;
    font-size: 40px;
}

.tiktok{
    margin-top: 5px;
    margin-left:25px;
    font-size: 45px;
}
