.container {
   display: flex;
   flex-direction: row;
}

.test {
   display: flex;
   flex-direction: column;
}

.productSelectionContainer {
   display: flex;
   flex-direction: row;
   gap: 0px 12px;
   align-items: baseline;
   align-content: end;
   margin: 12px 0px 0px;
   justify-items: end;
}

.price {
   color: #111111;
   font-family: Helvetica Now;
   font-weight: 500;
   text-align: start;
   margin: 6px 0px 0px 16px;
   font-size: 20px;
}
