* {
   margin: 0;
}

.container {
   display: flex;
   flex-wrap: wrap;
   height: 100%;
   overflow: hidden;
   background-image: url('src/assets/contactBackground.jpg');
}

.content {
   width: 90%;
   height: 100%;
   overflow: auto;
}

:global(#root),
:global(body),
:global(html) {
   height: 100%;
}
