* {
    margin: 0;
}
.container{
    display:flex;
    background-color: #f6f6f6;
    margin:0;
}

.sidebar{
    width:25%;
}

.content{
    width:100%;
    border-left: 2px solid rgb(34, 34, 34);
}
    