@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

:global(#root),
:global(body),
:global(html) {
    height: 100%;
}

a {
    text-decoration: none;
}

:root {
    --color: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Yourfather {
    width: 320px;
    height: 370px;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-items: end;
}